body {
    font-family: Verdana, Tahoma, sans-serif;
}

img {
    width: 100%;
}

p,
h1,
h2,
h3,
a {
    line-height: 1.3;
    letter-spacing: 1px;
}


.container {
    width: 65%;
    margin: auto;
}


header {
    background-color: #fff;
}

header ul li a {
    color: #333;
    text-transform: uppercase;
}

.header-row {
    display: flex;
    width: 75%;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header ul li {
    margin: 10px;
    font-size: 18px;
}

div.logo {
    margin: 15px;
    width: 12%;
}

/* Hero */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}

.hero-text {
    margin: auto;
}

.hero-img {
    width: 80%;
    margin: auto;
}

.order-btn {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-btn a {
    font-size: 22px;
    font-weight: 800;
    background-color: #63a239;
    color: white;
    padding: 15px 60px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.order-btn a {
    border-radius: 20px;
    background: linear-gradient(to right, #526023, #58a128bc);
}

.order-btn a:hover {
    background-color: rgba(30, 48, 19, 0.841);
}

/* Our Mission */

.our-mission-div {
    border-radius: 55px;
    background: linear-gradient(to right, #58a128bc, #526023);
    color: white;
    margin: 0px;
    padding: 20px 50px;
}

/* Benefits */

.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    justify-items: center;
    margin: 40px auto;
}

.benefits ul li {
    margin: 15px auto;
    padding-left: 30px;
    /* Add left padding for space next to the bullet */
    position: relative;
}

.benefits ul li::before {
    content: "\2022";
    /* Unicode character for a bullet point */
    color: #58a128bc;
    font-size: 20px;
    position: absolute;
    left: 0;
}

.benefits-img {
    grid-column: 2;
    width: 50%;
}

/* Ingredients */

.ingredients {
    text-align: center;
    margin: 20px;
}

.ingredient-image {
    max-width: 50%;
}

.description-box {
    display: inline-block;
    margin: 10px 10px;
    text-align: left;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ingredients h2 {
    margin-bottom: 10px;
}

/* Our story */

.ourstoryimg {
    width: 60%;
    margin: auto;
}

.ourstory h2 {
    margin: 0 auto;
    width: 85%;
    color: seagreen;
    text-align: center;
    padding: 20px;
    font-size: 16px
}

.ourstory p {
    text-align: center;
    padding: 20px;
}

/* Ourstory content */

.ourstory-content {
    background-color: rgb(180, 180, 152);
    text-align: center;
}

.column-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    margin: 0 auto;
}

.yoga-image {
    border-radius: 50%;
}

.column p {
    margin-top: 10px;
}

/* Superfood section */

.superfoods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.superfoods-img {
    grid-column: 2;
}

/* Recipe section */

.recipe-box {
    margin: 50px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.recipe-details {
    padding: 20px;
    flex: 1;
}

.recipe-details img {
    width: 55%;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    /* To remove extra space below the image */
    margin-left: auto;
    /* Center the image horizontally */
    margin-right: auto;
    /* Center the image horizontally */
}

.recipe-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.recipe-description {
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.recipe-ingredients {
    text-align: left;
    flex: 1;
    padding-left: 20px;
}

h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.recipe-ingredients ul li {
    position: relative;
    margin: 15px auto;
    padding-left: 20px;
}

.recipe-ingredients ul li::before {
    content: "\2022";
    color: #58a128bc;
    position: absolute;
    left: 0;
}

.our-mission-div h2 {
    text-align: center;
}

/* Testimonials */

.testimonials {
    background-color: #fff;
}

.testimonials-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-reviews span {
    font-size: 35px;
    font-weight: 700;
    margin: 10px;
}

.testimonials-reviews img {
    width: 8%;
}

.review_content p {
    width: 60%;
}

.testimonials p.based {
    text-align: center;
    margin: 0;
}

hr {
    width: 90%;
    border-top: 1.5px solid #70797c;
    margin: 15px auto;
}

.testimonials h1 {
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

.review .author {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 25px;
    margin-bottom: 10px;
}

.verified img {
    width: 15px;
    margin-right: 5px;
}

.verified {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 8px;
}

.review {
    width: 80%;
    margin: auto;
}

.review_content p {
    width: 60%;
}

/* Order form */

div.forma {
    margin: 8vh auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.forma div.img-order {
    width: 90%;
    margin: auto;
}

form h1 {
    text-align: center;
}

div.forma form {
    margin: auto;
}

div.forma form div.pole {
    margin: 1.7vh;
    text-align: center;
}

div.forma form div.pole input {
    padding: 10px 20px;
    border: 1px solid black;
}

div.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.all-h2 {
    text-align: center;
}

.price .order-btn a {
    font-size: 18px;
    padding: 12px 50px;

}

.price h2 {
    margin: 0;
}

/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}


.scores-img {
    margin: auto;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 85%;
    }

    .header-row {
        display: flex;
        width: 85%;

    }

    .ingredients-div {
        grid-column-gap: 35px;
    }


}

@media screen and (max-width: 1200px) {
    div.forma {
        margin: 40px auto;
        width: 80%;
    }

    .faq-divs {
        width: 85%;
    }

    .order-btn a {
        font-size: 18px;
        color: white;
        padding: 13px 50px;
    }

    header ul li {
        margin: 10px;
        font-size: 16px;
    }

    div.logo {
        margin: 15px;
        width: 20%;
    }

    .ourstory h2 {
        font-size: 16px
    }

}


@media screen and (max-width: 994px) {

    div.forma form div.pole input {
        padding: 7px 12px;
    }

    div.forma div.img-order {
        width: 100%;
        margin: auto;
    }

    p {
        line-height: 1.1;
        letter-spacing: 0.6px;
    }

    .ingredients-div {
        width: 85%;
    }

    header ul li {
        margin: 7px;
        font-size: 14px;
    }

    .price .order-btn a {
        font-size: 16px;
        padding: 10px 34px;
    }



}

@media screen and (max-width: 768px) {
    .hero {
        display: block;
    }

    .header-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .div.logo {
        margin: auto;
    }

    header ul li {
        margin: 10px;
    }

    div.logo {
        margin: 15px;
        width: 37%;
    }

    .scores-div {
        display: block;
    }

    .benefits {
        align-items: center;
    }

    .benefits-img {
        width: 80%;
    }

    div.forma {
        display: block;

    }

    div.forma div.img-order {
        width: 75%;
        margin: auto;
    }

    div.forma {
        margin-top: 7px;
    }

}

@media screen and (max-width: 414px) {

    .header-row {
        display: flex;
        width: 95%;
    }

    header ul li {
        margin: 5px;
    }

    .hero-text p,
    .hero-text h1 {
        text-align: center;
    }

    .ingredients-div {
        display: block;
    }

    .faq-divs {
        width: 100%;
    }

    .review-div {
        display: grid;
        grid-template-columns: 60px 1fr;

    }

    .column-div {
        display: block;
    }

    p {
        line-height: 1;
        letter-spacing: 0.3px;
    }

    .recipe-details img {
        width: 100%;
    }

    .recipe-ingredients {
        padding-left: 2px;
    }

    .container {
        width: 95%;
    }

    .our-mission-div {
        padding: 10px 40px;
    }

    div.forma div.img-order {
        width: 90%;
        margin: auto;
    }

    .recipe-box {
        flex-direction: column;
    }

    footer div.links {
        display: flex;
        flex-direction: column;
    }

    footer a {
        margin: 5px 0;
    }

    footer p.disclaimer {
        width: 95%;
    }

    .testimonials-reviews img {
        width: 40%;
    }

    .review_content p {
        width: 95%;
    }

    div.forma {
        margin: 40px auto;
        width: 90%;
    }
}